/* Logo.css */
.logo-img {
  width: 150px; /* Default width for larger screens */
}

/* Media queries for smaller screens */
@media (max-width: 768px) { /* Tablets and smaller */
  .logo-img {
    width: 100px;
  }
}

@media (max-width: 640px) { /* Mobile phones */
  .logo-img {
    width: 100px;
  }
}